# Multiple Linear Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [3]:
dataset = pd.read_excel('data.xlsx')

In [8]:
dataset.head()

   balance gender merchant_state  total_amount  salary
0    35.39      F            QLD         26211    1013
1    21.20      F            NSW         26211    1013
2     5.71      M            NSW         23696    1002
3  2117.22      F            QLD         19286     892
4    17.95      F            QLD         26211    1013

In [7]:
#Dropping first 2 columns
dataset.drop(['Unnamed: 0'],axis=1,inplace=True)

In [9]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [14]:
print(X)

[[0.0 0.0 0.0 ... 0.0 35.39 26211]
 [0.0 1.0 0.0 ... 0.0 21.2 26211]
 [0.0 1.0 0.0 ... 1.0 5.71 23696]
 ...
 [0.0 1.0 0.0 ... 1.0 45394.57 33459]
 [0.0 0.0 0.0 ... 1.0 11350.67 18680]
 [0.0 1.0 0.0 ... 1.0 5517.91 21006]]

## Encoding

In [13]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

## Splitting the dataset into the Training set and Test set

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Training the Multiple Linear Regression model on the Training set

In [16]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Predicting the Test set results

In [17]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1654.98 1068.  ]
 [2289.21 2887.  ]
 [1337.42  596.  ]
 ...
 [1688.86  916.  ]
 [2305.37 2886.  ]
 [1643.76 2470.  ]]

## Evaluating the Model Performance

In [18]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.23552848024936135